<?xml version="1.0"?>
<launch>
  <node pkg="iot_practice" name="memory" type="memory_node.py" required="true" output="screen" />
  <node pkg="iot_practice" name="memory_display" type="memory_display_node.py" required="true" output="screen" />
  <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot" args="/raspi_memory" />
</launch>
